<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="documents">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Documents.ArchivedDocuments.Title'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Documents.ArchivedDocuments.TitleSingular'"></span>
      </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table (load)="onDataLoad($event)" [showFooter]="false" #documents></app-advanced-table>
    </div>
  </div>
  <app-document-download></app-document-download>
</div>