<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
        <advanced-search>
<!--          <app-scholarships-advanced-table-search [(filter)]="filter.value"></app-scholarships-advanced-table-search>-->
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Scholarships.Title'"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #table (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
    </div>
  </div>
</div>
