<div *ngIf="courseExam">
  <div class="card" *ngIf="courseExam?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Exams.Info'"></h5>
    </div>
    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.Status'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'ExamStatus.' + courseExam?.status?.alternateName  | translate }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.ExamName'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.DisplayCode'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.course.displayCode}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.Year'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.year.alternateName}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.Period'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.examPeriod.name}}</span>
        </div>
      </div>

      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.DateCompleted'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.dateCompleted | date:'short'}}</span>
        </div>
      </div>

      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.CompletedByUser'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.completedByUser?.name}}</span>
        </div>
      </div>

      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.ExamDate'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.examDate | date:'short'}}</span>
        </div>
      </div>

      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.ResultDate'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.resultDate | date:'short'}}</span>
        </div>
      </div>

      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.DecimalDigits'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.decimalDigits}}</span>
        </div>
      </div>

      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Exams.NumberOfGradedStudents'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{courseExam?.numberOfGradedStudents}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="courseExam?.length == 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Exams.Info'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          <span [translate]="'Exams.NoGeneralInfo'"></span>
        </div>
      </div>
    </div>
  </div>
</div>