<div *ngIf="model">
  <div class="card" *ngIf="model[0].students.length!= 0">
    <div class="card-body ">
      <div>
        <a href="/#/theses/{{thesesID}}/dashboard/students"
           class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
          [translate]="'Expandable.More'"></span></a>
        <div class="row">
          <h5 [translate]="'Theses.Students'" class="mr-3 my-auto"></h5>
        </div>
      </div>

      <div id="group-list" class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.FamilyName'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.GivenName'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Students.studentIdentifier'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Students.Department'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Students.Grade'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block text-right"></div>`
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item" *ngFor="let student of model[0]?.students">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                class=" text-dark"> {{student.student.person.familyName}}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                class=" text-dark">{{student.student.person.givenName}}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                class="text-dark">{{ student.student.studentIdentifier}}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                class="text-dark">{{ student.student.department.abbreviation }}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                class="text-dark">{{ student.formattedGrade}}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block text-right">
                <a href="#/students/{{student.student?.id}}/dashboard/overview"
                   class="text-primary text-decoration-none" [translate]="'Theses.Preview'"></a>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="model[0]?.students.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto" [translate]="'Theses.Students'"></h5>
        <a href="/#/theses/{{thesesID}}/dashboard/students"
           class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
          [translate]="'Expandable.More'"></span></a>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark">
            <span [translate]="'Theses.NoStudents'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
