<div>
  <div class="row mt-3">
    <div class="col-lg-8 col-md-7 col-12 pl-0">
      <app-course-exam-upload-actions></app-course-exam-upload-actions>
      <app-exams-preview-general-instructors></app-exams-preview-general-instructors>
      <app-exams-preview-general-statistics></app-exams-preview-general-statistics>
    </div>
    <div class="col-lg-4 col-md-5 col-12" *ngIf="model">
      <app-exams-preview-general-exam-info></app-exams-preview-general-exam-info>
      <app-courses-overview-form [model]="model.course"></app-courses-overview-form>
    </div>
    <router-modal></router-modal>
  </div>
</div>
