<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/graduations']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Graduations.Title'"></span></a>
    </li>
  </ul>

  <div class="row pt-2 pb-2">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="model">
        {{ model?.name }} - {{ model?.graduationYear?.alternateName }} {{ 'Periods.' + model?.graduationPeriod?.alternateName | translate }}
      </h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" >
      <div class="btn-group px-2 py-2">
        <a type="button" class="btn btn-indigo" href="#/graduations/list/opened/(modal:{{this.graduationEventId}}/edit)" [translate]="'Graduations.Edit.Label'"></a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
