<!--  Form -->
<div class="mt-4" *ngIf="showMessageForm">

  <div class="card">
    <div class="card-body">

      <form #responseForm="ngForm">

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="font-lg text-secondary" for="subject" [translate]="'Messages.toStudents.Subject'"></label>
              <textarea class="form-control" id="subject" rows="1" required [(ngModel)]="messageModel.subject" [maxLength]="512" name="subject"   placeholder="{{'Messages.toStudents.SubjectPlaceHolder' | translate}}" ></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="font-lg text-secondary" for="response" [translate]="'Messages.toStudents.Body'"></label>
              <textarea class="form-control" id="response" rows="3" required [(ngModel)]="messageModel.body" [maxLength]="512"
                        name="messageBody"   placeholder="{{'Messages.toStudents.BodyPlaceHolder' | translate}}" ></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label class="font-lg text-secondary" for="filename" [translate]="'Messages.toStudents.AttachFiles'"></label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="form-control custom-file-input" id="filename" aria-describedby="filename" name="filename" (change)="onFileChanged($event)" (click)="reset()" #fileinput  >
                  <label class="custom-file-label text-placeholder" for="filename" [translate]="'Messages.toStudents.AttachFilesPlaceHolder'">{{messageModel?.attachment?.name}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12 col-md-12 text-center">
            <button class="btn btn-md text-light bg-success px-4 mt-2" type="button" (click)="save()" [translate]="'Buttons.Send'" [disabled]="responseForm.invalid"></button>
            <button class="btn btn-md text-light bg-danger px-4 mt-2 ml-2" type="button" (click)="close()" [translate]="'Buttons.Close'"></button>
          </div>
        </div>

      </form>

    </div>
  </div>

</div>
