<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['..']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Graduations.Requests'"></span></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group"></div>
      </div>
    </li>
  </ul>
  <div *ngIf="model" class="row pt-2 pb-2 ">
    <div class="col-auto mr-auto">
      <h1 class='d-inline'>{{model?.student?.person?.givenName}} {{model?.student?.person?.familyName}}</h1>
      <h1 class="font-xl">{{ model?.graduationEvent?.name }}</h1>
    </div>
  </div>
</div>

<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="tab.data.title" [routerLink]="[tab.path]"
        [routerLinkActive]="'active'"></a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

